.card {
  padding: 40px 40px 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);

  &:focus,
  &:hover {
    box-shadow: var(--shadow-1);
  }
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.subName {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--grey-1-color);
}

.name {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size18);
  color: var(--black-color);
}

.contentWrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subTitle {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size18);
  color: var(--grey-1-color);
}

.title {
  margin-bottom: 20px;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size22);
  color: var(--black-color);
}
