.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--white-color);
}

.mainWrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.description {
  text-align: center;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  line-height: 26px;
  color: var(--grey-1-color);
}

.company {
  color: var(--grey-1-color);
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.icons {
  display: flex;
  gap: 20px;
}


@media (--breakpoint-tablet) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .container {
    width: 50%;
  }
}

@media (--breakpoint-laptop) {
  .mainWrapper {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1100px;
  }

  .wrapper {
    align-items: flex-start;
  }

  .container {
    align-items: flex-start;
    width: fit-content;
    margin-bottom: 30px;
  }

  .description {
    text-align: left;
  }

  .iconWrapper {
    justify-content: flex-start;
  }

  .icons {
    gap: 10px;
  }

  .company {
    margin-right: 0;
  }
}

@media (--breakpoint-desktop) {
  .mainWrapper {
    padding: 0;
  }
}
