.label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--black-color);
  cursor: pointer;
}

.input {
  display: none;
}

.checkbox {
  margin-top: 4px;
}

