.label {
  margin-bottom: 8px;
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size18);
  color: var(--black-color);
}

.fieldset {
  display: flex;

  gap: 15px;

  flex-direction: column;
  justify-content: center;
  border: none;
  color: var(--grey-2-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size18);
}

.input {
  display: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}


.checked {
  color: var(--black-color);
}