.container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.label {
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size18);
  color: var(--black-color);
  margin-bottom: 8px;
}

.select {
  padding: 15px 20px;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--grey-3-color);
  border-radius: var(--small-radius);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size15);
  line-height: 24px;
  background-color: var(--white-color);
  color: var(--grey-1-color);
  cursor: pointer;
  position: relative;

  &:hover,
  &:focus {
    outline: 3px solid var(--green-1-color);
  }

  &::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--grey-2-color);
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
  }

  &.open::after {
    transform: translateY(-50%) rotate(180deg);
  }

  &.hasValue {
    color: var(--grey-1-color);
  }
}

.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 10px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  overflow-y: auto;
  z-index: 3;
  box-shadow: var(--shadow-1);
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.1s ease,
    transform 0.1s ease;
  pointer-events: none;
}

.dropdown.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.option {
  padding: 15px 20px;
  font-size: var(--font-size16);
  color: var(--grey-1-color);
  font-weight: var(--font-weight-regular);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--green-1-color);
    background-color: var(--green-3-color);
  }

  &.selected {
    color: var(--green-1-color);
    background-color: var(--green-3-color);
  }
}
