.container {
  width: max-content;
  display: flex;
  align-items: center;
}

.name {
  color: var(--grey-1-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size18);
}

.value {
  margin-left: 2px;
  color: var(--black-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size18);
}