.status {
  height: fit-content;
  width: fit-content;
  padding: 3px 15px;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  color: var(--white-color);
  background-color: var(--grey-2-color);
}

.disabled {
  background-color: var(--red-1-color);
}