@custom-media --breakpoint-phone (min-width: 375px);

@custom-media --breakpoint-tablet (min-width: 768px);

@custom-media --breakpoint-laptop (min-width: 976px);

@custom-media --breakpoint-desktop (min-width: 1440px);
