@import "variables.pcss";

:root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}