:root {
  /* font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font size */
  --font-size10: 10px;
  --font-size12: 12px;
  --font-size13: 13px;
  --font-size14: 14px;
  --font-size15: 15px;
  --font-size16: 16px;
  --font-size18: 18px;
  --font-size20: 20px;
  --font-size22: 22px;
  --font-size26: 26px;
  --font-size32: 32px;
  --font-size38: 38px;

  /* colors */
  --background-color: #F1F5F9;

  --black-color: #212B36;
  --white-color: #FFFFFF;

  --red-1-color: #F68888;
  --red-2-color: #fb6e6e;
  --red-3-color: #F23030;

  --grey-1-color: #637381;
  --grey-2-color: #8899A8;
  --grey-3-color: #E5E7EB;

  --green-1-color: #72DDC3;
  --green-2-color: #60BFA8;
  --green-3-color: #f3fbfb;

  --loading-color: #E7F9F5;

  /* shadows */
  --shadow-1: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-2: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-3: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-4: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  /* radius */
  --mini-radius: 6px;
  --small-radius: 13px;
  --normal-radius: 16px;
}