.card {
  padding-left: 30px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
}

.name {
  padding-left: 10px;
  font-size: var(--font-size16);
  font-weight: var(--font-weight-medium);
  color: var(--black-color);
}

.home {
  padding: 20px;
  margin-top: 4px;
  transition: box-shadow 0.3s ease;
  border-radius: var(--normal-radius);

  &:hover,
  &:focus {
    box-shadow: var(--shadow-1);
  }

  &:hover svg path,
  &:focus svg path {
    fill: var(--green-2-color);
    transition: fill 0.3s ease;
  }
}

.wrapper {
  display: none;
  padding-right: 20px;
}

.active svg path {
  fill: var(--black-color);
}

@media (--breakpoint-laptop) {
  .card {
    padding-left: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
