.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--normal-radius);
  background-color: var(--white-color);
  width: 300px;
  height: 450px;
  padding: 30px;
  gap: 30px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
    box-shadow: var(--shadow-1);
  }

  &:hover .icon,
  &:focus-visible .icon {
    filter: grayscale(0%);
  }

  &:hover .title,
  &:focus-visible .title {
    color: var(--green-2-color);
  }
}

.notChosenCard {
  opacity: 0.5;
  filter: grayscale(100%);

  &:hover,
  &:focus-visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    filter: grayscale(0%);
  }
}

.active {
  box-shadow: var(--shadow-1);
}

.chosenCard {
  outline: none;

  .title {
    color: var(--green-2-color);
  }

  .icon {
    filter: grayscale(0%);
  }
}

.icon {
  transition: filter 0.3s ease;
  filter: grayscale(50%);
}

.title {
  color: var(--black-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size22);
  transition: color 0.3s ease;
}

.description {
  font-size: var(--font-size14);
  color: var(--black-color);
  text-align: center;
  line-height: 24px;
}