.label {
  margin-bottom: 10px;
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size18);
  color: var(--black-color);
}

.fieldset {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: none;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  margin-bottom: 20px;
}

.input {
  display: none;
}

.checkboxLabel,
.radioLabel {
  padding: 5px 10px;
  color: var(--grey-3-color);
  border-radius: var(--mini-radius);
  border: 1px solid var(--grey-3-color);
  cursor: pointer;
  width: fit-content;
}

.checked {
  border: 1px solid transparent;
  color: var(--black-color);
}

.errorBlock {
  height: 18px;
  width: 100%;
  text-align: center;
}

.errorText {
  text-align: center;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-semi-bold);
  font-family: inherit;
  color: var(--red-1-color);
}

.en {
  background-color: #FFCDB2; /* English */
}

.es {
  background-color: #EF9595; /* Spanish */
}

.fr {
  background-color: #9EC6F3; /* French */
}

.de {
  background-color: #F7F2C2; /* German */
}

.it {
  background-color: #CCE0AC; /* Italian */
}

.ja {
  background-color: #E7DFF7; /* Japanese */
}

.zh {
  background-color: #9ECAD6; /* Chinese */
}

.pt {
  background-color: #F5CBCB; /* Portuguese */
}

.fallback {
  background-color: #999;
}