.button {
  display: flex;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 22px;
  margin-right: 35px;
  border-radius: var(--normal-radius);
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: var(--shadow-1);

  }

  &:hover svg rect,
  &:focus svg rect {
    fill: var(--green-2-color);
    transition: fill 0.3s ease;
  }
}

@media (--breakpoint-laptop) {
  .button {
    display: none;
  }
}