.line {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  border-bottom: 1px solid var(--grey-3-color);
}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-1-color);
  border-radius: 100%;
  width: 45px;
  height: 45px;
  font-size: var(--font-size16);
  font-weight: var(--font-weight-semi-bold);
  color: var(--white-color);
}

.name {
  color: var(--black-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size16);
}

.email {
  color: var(--grey-2-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size14);
}

.wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
