.wrapper {
  position: fixed;
  top: 0;
  left: 272px;
  right: 0;
  background-color: var(--background-color);
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  width: 100%;
  height: 80px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 30px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  box-shadow: var(--shadow-1);
}

.nameWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: var(--font-size26);
  font-weight: var(--font-weight-medium);
  color: var(--black-color);
}

.content {
  display: flex;
  gap: 20px;
}
