.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-1);
  }
}

.small {
  width: 200px;
  min-height: 220px;

  @media (--breakpoint-desktop) {
    width: 240px;
  }
}

.big {
  width: 250px;
  min-height: 250px;
}

.name {
  color: var(--black-color);
  font-size: var(--font-size16);
  font-weight: var(--font-weight-semi-bold);
}
