.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp .5s ease-out forwards;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-1);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.small {
  width: 200px;
  min-height: 220px;

  @media (--breakpoint-desktop) {
    width: 240px;
  }
}

.big {
  width: 250px;
  min-height: 250px;
}

.name {
  color: var(--black-color);
  font-size: var(--font-size16);
  font-weight: var(--font-weight-semi-bold);
}
