.label {
  display: block;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size18);
  color: var(--black-color);
  margin-bottom: 8px;
}

.input {
  padding: 15px 20px;
  margin-bottom: 2px;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--grey-3-color);
  border-radius: var(--small-radius);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size15);
  line-height: 24px;
  transition: outline-width 0.1s ease;
  background-color: var(--white-color);
  color: var(--grey-1-color);

  &:hover,
  &:focus {
    outline: 3px solid var(--green-1-color);
  }

  &::placeholder {
    font-weight: var(--font-weight-regular);
    color: var(--grey-2-color);
  }
}

.inputError {
  outline: 3px solid var(--red-1-color);

  &:focus,
  &:hover {
    outline: 3px solid var(--red-1-color);
  }
}

.errorBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.errorText {
  font-size: var(--font-size14);
  font-weight: var(--font-weight-semi-bold);
  font-family: inherit;
  color: var(--red-1-color);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}