.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.btnBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
}