.container {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;

  @media (min-width: 1070px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 1450px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: 1800px) {
    grid-template-columns: repeat(4, auto);
  }

  @media (min-width: 2300px) {
    grid-template-columns: repeat(5, auto);
  }
}
