.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  row-gap: 40px;
  column-gap: 20px;

  @media (min-width: 900px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(4, auto);
  }

  @media (min-width: 1700px) {
    grid-template-columns: repeat(5, auto);
  }

  @media (min-width: 1950px) {
    grid-template-columns: repeat(6, auto);
  }
}

.info {
  display: none;
}

@media (--breakpoint-laptop) {
  .info {
    display: flex;
    gap: 20px;
  }
}

@media (--breakpoint-desktop) {
  .info {
    gap: 40px;
  }
}

