.card {
  padding: 40px;
  width: 100%;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-1);
  }
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;

  @media (--breakpoint-laptop) {
    grid-template-columns: repeat(2, auto);
  }

  @media (--breakpoint-desktop) {
    grid-template-columns: repeat(4, auto);
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-2-color);
  font-size: var(--font-size16);
  font-weight: var(--font-weight-regular);
}