.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size14);
  color: var(--grey-2-color);
}

.body {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size18);
  color: var(--black-color);
}