.main {
  position: relative;
}

.wrapper {
  max-width: 100%;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  opacity: 0;
  transition: margin-top 0.3s ease;
  animation: fadeIn 0.5s ease-in-out 0.1s forwards;
}

.error {
  margin-top: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btnWrapper {
  display: flex;
  gap: 15px;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;

  @media (--breakpoint-desktop) {
    flex-direction: row;
  }
}

.info {
  display: none;
  @media (min-width: 950px) {
    display: flex;
  }
}
