.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  outline: none;

  &:focus,
  &:hover {
    box-shadow: var(--shadow-1);
  }
}

.bigCard {
  width: 250px;
}

.name {
  color: var(--black-color);
  font-size: var(--font-size26);
  font-weight: var(--font-weight-semi-bold);
  max-width: 9ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.parentName {
  font-size: var(--font-size12);
  font-weight: var(--font-weight-medium);
  color: var(--grey-2-color);
  max-width: 27ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.smallName {
  max-height: 45px;
  color: var(--black-color);
  font-size: var(--font-size18);
  font-weight: var(--font-weight-semi-bold);
  max-width: max-content;
  overflow: hidden;
}

.languages {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  row-gap: 12px;
  column-gap: 6px;
}

.nameWrapper {
  margin-bottom: 30px;
}

.nameWrapper,
.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.statusWrapper {
  display: flex;
  justify-content: space-between;
}

.countryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.country {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size16);
  color: var(--black-color);
}

.city {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size14);
  color: var(--grey-2-color);
}

@media (--breakpoint-desktop) {
  .card {
    width: 240px;
  }

  .bigCard {
    width: 250px;
  }

  .name {
    max-width: 12ch;
  }
}