.card {
  width: 200px;
  height: 230px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: var(--normal-radius);
  outline: none;

  &:focus,
  &:hover {
    box-shadow: var(--shadow-1);
  }
}

.status {
  width: fit-content;
  padding: 3px 15px;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  color: var(--white-color);
  background-color: var(--grey-2-color);
}

.disabled {
  background-color: var(--red-1-color);
}

.name {
  color: var(--black-color);
  font-size: var(--font-size26);
  font-weight: var(--font-weight-semi-bold);


  max-width: 9ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameWrapper {
  margin-bottom: 30px;
}

.nameWrapper,
.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (--breakpoint-desktop) {
  .card {
    width: 240px;
  }

  .name {
    max-width: 12ch;
  }
}