.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statusWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.preview {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--grey-2-color);
}

.card {
  min-width: 400px;
  max-width: 500px;
  width: 100%;
  background-color: var(--white-color);
  padding: 40px;
  border-radius: var(--normal-radius);
}

.name {
  height: 22px;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size22);
  color: var(--black-color);
}

.count {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--grey-1-color);
}