.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schoolNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shortNameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.languageWrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.country {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--black-color);
}

.city {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size14);
  color: var(--grey-2-color);
}

.statusWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.preview {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--grey-2-color);
}

.card {
  min-width: 400px;
  max-width: 500px;
  width: 100%;
  background-color: var(--white-color);
  padding: 40px;
  border-radius: var(--normal-radius);
}

.name {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size22);
  color: var(--black-color);
}

.count {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size16);
  color: var(--grey-1-color);
}
