.item {
  padding: 20px 10px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  border-radius: var(--normal-radius);
  color: var(--grey-2-color);
  font-size: var(--font-size16);
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  cursor: pointer;
  
  &:hover,
  &:focus:not(.active) {
    color: var(--green-1-color);
    box-shadow: var(--shadow-1);
  }

  &:active {
    box-shadow: none;
  }
}

.arrow {
  margin-top: 4px;
}

.active {
  color: var(--black-color);
}