.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.codeWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.countdownWrapper {
  margin-bottom: 20px;
}
