.container {
  position: relative;
  padding: 30px;
  border-radius: var(--normal-radius);
  background-color: var(--white-color);
  max-height: 135px;
  cursor: pointer;

  &:focus,
  &:hover {
    box-shadow: var(--shadow-1);
  }
}

.openedContainer {
  max-height: 100vh;
  box-shadow: var(--shadow-1);
  transition: box-shadow 0.3s ease, max-height 0.9s ease;
}

.loadingContainer {
  background: linear-gradient(to right, var(--loading-color) 50%, var(--white-color) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: fillFromLeft 1.5s ease forwards;
  box-shadow: var(--shadow-1);
}

@keyframes fillFromLeft {
  to {
    background-position: 0 0;
  }
}

.currentContainer {
  box-shadow: var(--shadow-1);
}

.unCurrentContainer {
  opacity: 0.5;
  filter: grayscale(100%);
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    filter: grayscale(0%);
    opacity: 1;
  }
}

.currentMarker {
  font-weight: var(--font-weight-medium);
  color: var(--green-1-color);
  font-size: var(--font-size16);
}

.blockedContainer {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;

  &:focus,
  &:hover {
    box-shadow: none;
  }
}

.content {
  opacity: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
  transform: translateY(-20px);
}

.openedContent {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.9s ease, transform 0.9s ease;

}

.line {
  opacity: 1;
  border: none;
  height: 1px;
  background-color: var(--grey-3-color);
  transition: opacity 0.9s ease;
}

.openedLine {
  opacity: 0;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
}

.textWrapper {
  max-width: clamp(100px, 50%, 500px);
  overflow: hidden;
}

.country {
  font-size: var(--font-size26);
  font-weight: var(--font-weight-semi-bold);
  color: var(--black-color);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.title,
.schoolCount {
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  color: var(--grey-1-color);
}

.schoolCount {
  white-space: nowrap;
  overflow: hidden;
}

.arrow {
  width: fit-content;
  display: block;
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.openedArrow {
  transform: rotate(-90deg);
}

.count {
  color: var(--black-color);
}

.arrowWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}


@media (--breakpoint-tablet) {
  .country {
    font-size: var(--font-size32);
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }

  .title,
  .schoolCount {
    font-size: var(--font-size16);
  }

  .textWrapper {
    max-width: 100%;
  }

  .content {
    flex-direction: row;
  }
}
