.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 5px;
  font: inherit;
  font-size: 33px;
  line-height: 45px;
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
}

.description {
  min-width: max-content;
  margin: 0;
  font: inherit;
  font-size: 15px;
  line-height: 24px;
  font-weight: var(--font-weight-regular);
  color: var(--grey-1-color);
}