.wrapper {
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  width: max-content;
  margin: 0 0 5px;
  color: var(--black-color);
}

.secondaryTitle {
  line-height: 45px;
  font-size: var(--font-size32);
  font-weight: var(--font-weight-regular);
}

.mainTitle {
  width: fit-content;
  text-align: center;
  font-size: var(--font-size32);
  font-weight: var(--font-weight-semi-bold);
}

.description {
  margin: 0;
  line-height: 24px;
  font-weight: var(--font-weight-regular);
  color: var(--grey-1-color);
}

.secondaryDescription {
  font-size: var(--font-size15);
}

.mainDescription {
  text-align: center;
  max-width: 500px;
  font-size: var(--font-size14);
}

.subtitle {
  line-height: 26px;
  font-size: var(--font-size16);
  color: var(--green-2-color);
  font-weight: var(--font-weight-semi-bold);
}

@media (--breakpoint-tablet) {
  .title {
    width: max-content;
  }

  .mainTitle {
    font-size: var(--font-size38);
  }

  .mainDescription {
    font-size: var(--font-size16);
  }

  .subtitle {
    font-size: var(--font-size18);
  }
}