.container {
  margin-top: 40px;
  margin-bottom: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corrWrapper {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-50px);
}

.corrWrapperActive {
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  height: auto;
}

.leftBlock,
.rightBlock {
  width: 100%;
}

.btn {
  margin-top: 20px;
  width: 100%;
}

@media (--breakpoint-tablet) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }

  .leftBlock,
  .rightBlock {
    max-width: 450px;
  }

  .btn {
    width: 50%;
  }
}

@media (--breakpoint-desktop) {
  .wrapper {
    gap: 60px;
  }
}