.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.input {
  display: none;
}

.customButton {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-medium);
  color: var(--grey-1-color);
  width: 100%;
  height: 160px;
  border-radius: var(--normal-radius);
  background-color: var(--white-color);
  cursor: pointer;
  box-shadow: var(--shadow-1);
  transition:
    border 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &:active {
    background-color: var(--green-3-color);
    box-shadow: var(--shadow-1);
  }

  & svg path {
    transition: stroke 0.3s ease;
  }

  @media (min-width: 500px) {
    width: 70%;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.fileDetails {
  display: flex;
  gap: 10px;
}

.fileType,
.fileSize {
  padding: 5px 7px;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-medium);
  color: var(--green-1-color);
  border-radius: var(--mini-radius);
  transition:
    color 0.3s ease,
    background 0.3s ease,
    border 0.3s ease,
    box-shadow 0.3s ease;
}

.fileType {
  background-color: var(--green-3-color);
}

.fileSize {
  border: 2px solid var(--green-3-color);
}

.infoBLock {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 500px) {
    width: 70%;
  }
}

.infoTitle {
  font-size: var(--font-size22);
  font-weight: var(--font-weight-semi-bold);
  color: var(--black-color);
  text-align: center;
}

.infoDescription {
  line-height: 24px;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  color: var(--grey-1-color);
  text-align: center;
}

.error {
  box-shadow: none;
  outline: 1px solid var(--red-2-color);
  text-align: center;
  color: var(--red-2-color);

  & svg path {
    stroke: var(--red-2-color);
  }

  .fileType,
  .fileSize {
    color: var(--red-2-color);
    background: none;
    outline: 1px solid var(--red-2-color);
    box-shadow: var(--shadow-1);
  }
}

@media (--breakpoint-tablet) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .infoBLock {
    max-width: 285px;
  }

  .infoTitle,
  .infoDescription {
    text-align: left;
  }

  .customButton {
    order: 0;
    width: 280px;
  }
}
