.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 320px;
  background: var(--background-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}

.content {
  width: 100%;
  margin: 0 30px;
}

@media (--breakpoint-tablet) {
  .wrapper {
    padding: 80px 40px;

    max-width: 500px;
    height: fit-content;
    background-color: var(--white-color);
    border-radius: var(--normal-radius);
    box-shadow: var(--shadow-1);
  }
}
