.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  row-gap: 40px;
  column-gap: 20px;
}

.info {
  display: none;
}

@media (--breakpoint-laptop) {
  .container {
    grid-template-columns: repeat(3, auto);
  }

  .info {
    display: flex;
    gap: 20px;
  }
}

@media (--breakpoint-desktop) {
  .container {
    grid-template-columns: repeat(4, auto);
  }

  .info {
    gap: 40px;
  }
}

@media (min-width: 1620px) {
  .container {
    grid-template-columns: repeat(5, auto);
  }
}

@media (min-width: 1900px) {
  .container {
    grid-template-columns: repeat(6, auto);
  }
}
