.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 22px;
}

.singleIcon {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  color: var(--black-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size12);
}

.en {
  background-color: #ffcdb2; /* English */
}

.es {
  background-color: #ef9595; /* Spanish */
}

.fr {
  background-color: #9ec6f3; /* French */
}

.de {
  background-color: #f7f2c2; /* German */
}

.it {
  background-color: #cce0ac; /* Italian */
}

.ja {
  background-color: #e7dff7; /* Japanese */
}

.zh {
  background-color: #9ecad6; /* Chinese */
}

.pt {
  background-color: #f5cbcb; /* Portuguese */
}

.fallback {
  background-color: #999;
}
