.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 22px;
}

.singleIcon {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  color: var(--black-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size12);
}

.en {
  background-color: #FFCDB2; /* English */
}

.es {
  background-color: #EF9595; /* Spanish */
}

.fr {
  background-color: #9EC6F3; /* French */
}

.de {
  background-color: #F7F2C2; /* German */
}

.it {
  background-color: #CCE0AC; /* Italian */
}

.ja {
  background-color: #E7DFF7; /* Japanese */
}

.zh {
  background-color: #9ECAD6; /* Chinese */
}

.pt {
  background-color: #F5CBCB; /* Portuguese */
}

.fallback {
  background-color: #999;
}