.bar {
  width: 100%;
  height: 6px;
  background-color: var(--grey-3-color);
  border-radius: var(--normal-radius);
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: var(--green-1-color);
  transition: width 0.3s ease-in-out;
}
