.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: 400px;
  gap: 15px;
  width: 100%;
  border-radius: var(--normal-radius);
  background-color: var(--white-color);

  @media (--breakpoint-desktop) {
    max-width: 400px;
  }
}

.language {
  width: fit-content;
}

.program {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 22px;
  font-size: var(--font-size12);
  color: var(--black-color);
  font-weight: var(--font-weight-regular);
  background-color: #E7DFF7;
}

.courseName {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size22);
  color: var(--black-color);
}

.schoolName {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size14);
  color: var(--grey-2-color);
}

.infoTitle {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size12);
  color: var(--black-color);
}

.info {
  font-size: var(--font-size12);
  font-weight: var(--font-weight-regular);
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.countryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.country {
  font-size: var(--font-size14);
  font-weight: var(--font-weight-medium);
  color: var(--black-color);
}

.city {
  font-size: var(--font-size12);
  font-weight: var(--font-weight-medium);
  color: var(--grey-1-color);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}