.container {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: var(--grey-3-color);
  border-radius: 50%;
}

.name {
  font-size: var(--font-size26);
  font-weight: var(--font-weight-semi-bold);
  color: var(--black-color);
}
