.container {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & span {
    display: block;
    color: var(--grey-2-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size20);
    text-align: center;
  }
}

.fileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper {
  width: 100%;
}

.listTitle {
  margin-bottom: 15px;
  display: block;
  font-size: var(--font-size14);
  font-weight: var(--font-weight-regular);
  color: var(--grey-2-color);
}

@media (--breakpoint-tablet) {
  .wrapper {
    width: 85%;
  }
}

@media (--breakpoint-laptop) {
  .wrapper {
    max-width: 750px;
  }
}
