.input {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  color: var(--grey-1-color);
  font-size: var(--font-size20);
  font-weight: var(--font-weight-regular);
  border: 1px solid var(--grey-3-color);
  border-radius: var(--small-radius);

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 3px solid var(--green-1-color);
  }
}